header {
    background-color: #bababc; 
    height: 100px;
}

.num {
    float: right;
    margin-top: 38px;
    margin-right: 10px;
}

h1   {
    text-transform: uppercase;
    margin-left: auto;
    margin-right: auto;
    width: 4em;
    line-height: 3em;
}


nav {
    height: 100px;
    background-color: #fe9c9d;
    padding-top: 1%;
    padding-left: 4%;
    text-align: right;
}
    

.first {
    width: 100%;
    height: 77%;
    background: white;
}

aside {
    background-color: #9299f4;
}

.subfooter {
    background-color: #5e66f5;
}

footer {
    background-color: #d2f388;
}

* {
    font-family: 'Raleway', sans-serif;
}

.nav {
    float: left;
}

