.team {
  padding:150px 15px;
  position: relative;
  background: url('../../img/04.jpg') no-repeat center top ;
  &:after {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.4;
    content: '';
    background:#f7f7f7;
  }
  &__header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &__title {
    font-size: 50px;
    margin-bottom: 40px;
    font-weight: 600;
    color: #313131;
  }
  &__text {
    font-size: 18px;
    color: #616161;
    margin-bottom: 80px;
  }
  &__boxes {
    display: flex;
    align-items: center;
  }
  &__box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: #ffff;
    max-width: 270px;
    max-height: 352px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
    border-bottom: solid 3px;
    &:last-child {
      margin-right: 0;
    }
    .text {
      font-size: 13px;
      color: #616161;
    }
    &.orange {
      border-bottom-color: #fc5f45;
      .title {
        color:#fc5f45;
        font-size: 18px;
      } 
    }
    &.green {
      border-bottom-color: #38c695;
    }
    &.purpure {
      border-bottom-color: #b27cf5; 
    }
    &.yellow {
      border-bottom-color: #feb960; 
    }
    .img {
      height: 260px;
      img {
        object-fit: contain;
      }
    }
  }
}