.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 10vmin;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-footer {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.f {
list-style-image:url('/img/f.png') 
}
.tw {
list-style-image:url('/img/team_tw.png') 
}
.lin {
list-style-image:url('/img/link.png') 
}
.inst {
list-style-image:url('/img/inst.png') 
}

.App-social {
  display: flex;
  justify-content: space-around;
  font-size: 15px;
  color: white;
  line-height: 24px;
  background-color: #4b515e;
}

li {
  list-style-type: none;
}

.App-nav {
  display: flex;
  padding-left: 40px;
  background-color: #50596d;
}
.App-nav a {
	color: white;
	font-size: 15px;
	display: block;
	padding: 7px 10px;
	border-radius: 3px;
	text-transform: uppercase;
  text-decoration: none;
  margin-left: 3px;
	border: 1px solid transparent;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
